#game-vw{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #fff;
    background-color: #2f2f2f;
}

#game-vw-info{
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #5688ba;
}

#game-vw-canvas{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-sizing: border-box;
}

.game-vw-cn{
    width: 33.33%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 75px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    color: #fff;
    -moz-user-select: none;
}

.game-vw-cn.highlighted{color: green}

.game-vw-cn:hover {background-color: rgb(122, 122, 122)}

.game-vw-cn:nth-child(-n + 6) {border-bottom: 15px solid #2fff}

.game-vw-cn:nth-child(3n + 1),
.game-vw-cn:nth-child(3n + 2){
    border-right: 15px solid #2fff;
}